.nav-wrap{
    position: fixed;
    left: 3rem;
}
.bg-nav{
    display: flex;
    justify-content: space-around;
}
.nav-options{
    display: flex;
    justify-content: space-around;
    margin-left: 10rem;
}
.nav-contact{
    display: flex;
    justify-content: space-around;
    margin-left: 6rem;
}